<% searchBar=true; sidebarTitle="packages" %>
    <%- include('./templates/dmc-head.ejs') %>
        <!DOCTYPE html>
        <html lang="en">

        <body>
            <%- include('./templates/dmc-header.ejs') %>
                <%- include('./templates/dmc-sidebar.ejs') %>

                    <main id="main" class="main">
                        <div class="pagetitle">
                            <!-- <h1>Marketing Manager Dashboard</h1> -->
                        </div>
                        <!-- End Page Title -->

                        <section class="section dashboard">
                            <div class="row">
                                <!-- Left side columns -->
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="card">
                                                <div class="card-body">
                                                    <h5 class="card-title">
                                                        <%= formData.title %>
                                                    </h5>

                                                    <!-- Floating Labels Form -->
                                                    <form class="row g-3" action="addCustomer" method="POST">
                                                        <div class="col-md-12">
                                                            <div class="form-floating">
                                                                <input type="text" name="packageName"
                                                                    class="form-control" placeholder=""
                                                                    id="packageName" />
                                                                <label for="packageName">Package Name</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-floating">
                                                                <input type="text" name="destination"
                                                                    class="form-control" placeholder=""
                                                                    id="destination" />
                                                                <label for="destination">Destination</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-floating">
                                                                <input type="text" name="days" class="form-control"
                                                                    placeholder="" id="days" />
                                                                <label for="days">No of Days</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-floating">
                                                                <input type="text" name="nights" placeholder=""
                                                                    class="form-control" id="nights" />
                                                                <label for="nights">No of Nights</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-floating">
                                                                <textarea name="address" class="form-control"
                                                                    placeholder="" placeholder="details" id="details"
                                                                    style="height: 100px"></textarea>
                                                                <label for="details">Package Details</label>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-4">
                                                            <div class="form-floating mb-3">
                                                                <select class="form-select" name="state" id="state"
                                                                    aria-label="State">
                                                                    <option selected>Select State</option>
                                                                    <option value="Kerala">Kerala</option>
                                                                    <option value="DC">DC</option>
                                                                </select>
                                                                <label for="region">State</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-floating mb-3">
                                                                <select class="form-select" name="region" id="region"
                                                                    aria-label="Region">
                                                                    <option selected>Select Region</option>
                                                                    <option value="Kerala">Kerala</option>
                                                                    <option value="DC">DC</option>
                                                                </select>
                                                                <label for="state">State</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <label for="file" class="col-sm-4 col-form-label">Upload
                                                                Package Brochure</label>
                                                            <div class="col-sm-10">
                                                                <input class="form-control" name="file" type="file"
                                                                    id="formFile">
                                                            </div>
                                                        </div>
                                                        <div class="text-center">
                                                            <button type="submit" class="btn btn-primary">
                                                                Submit
                                                            </button>
                                                            <button type="reset" class="btn btn-secondary">
                                                                Reset
                                                            </button>
                                                        </div>
                                                    </form>
                                                    <!-- End floating Labels Form -->
                                                    <% if(formData.type=="edit" ){ %>

                                                        <h3>Current pdf</h3>
                                                        <iframe src="/assets/tpa.pdf" height="500"></iframe>
                                                        <% } else {%>
                                                            <% }%>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Left side columns -->
                            </div>
                        </section>
                    </main>
                    <!-- End #main -->

                    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
                            class="bi bi-arrow-up-short"></i></a>
                    <%- include('./templates/dmc-footer.ejs') %> <%- include('./templates/dmc-footerScript.ejs') %>
        </body>

        </html>